@media (min-width:1024px) and (max-width:1025px) {
    .container{
        flex-direction: column;
        .side{
            // border: 1px solid red;
            width: 100%;
            height: 50%;
        }
        .left{
            .my-img{
                width: 500px;
                height: 500px;
                display: block;
                margin: 20px auto;
                .typed-text{
                    color: white;
                    // font grows 1px for every 100px of viewport width
                    font-size: 85px;
                    bottom: -8.5%;
                    
                }
            }
        }
        .right{
            .text-container{
                margin-top: 50px;
                text-align: center;
                .bio-text{
                    width: 90%;
                    margin: 0 auto;
                    h1{
                        font-size: calc(4vw + 0.3vw);
                    }
                }
                .my-links{
                    h2{
                        font-size: calc(3vw + 0.3vw);
                    }
                }
            }
        }
    }
    .social-container{
        i{
            font-size: 37px;
        }
    }
    .menu-items{
        .menu-link{
            font-size: 5.5vw;
        }
    }
}

@media(max-width:768px){
    .container{
        flex-direction: column;
        .side{
            // border: 1px solid red;
            width: 100%;
            height: 50%;
        }
        .left{
            .my-img{
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
                .typed-text{
                    color: white;
                    // font grows 1px for every 100px of viewport width
                    font-size: 45px;
                    bottom: -10%;
                    
                }
            }
        }
        .right{
            .text-container{
                text-align: center;
                .bio-text{
                    width: 90%;
                    margin: 0 auto;
                    h1{
                        font-size: calc(4vw + 0.3vw);
                    }
                }
                .my-links{
                    h2{
                        font-size: calc(3vw + 0.3vw);
                    }
                }
            }
        }
    }
    .social-container{
        i{
            font-size: 37px;
        }
    }
    .menu-items{
        .menu-link{
            font-size: 5.5vw;
        }
    }
}
