@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.9;
    }
}
@keyframes fadeout{
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0;
    }
}
.navigation-menu{
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier();
    animation-name: fadein;
    background-color: rgb(31, 31, 31);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 300px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 300px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 300px rgba(255, 255, 255, 0.5);
    opacity: 0.9;
    display: none;
    button{
        float: right;
        margin: 20px 4% 0 0;
        opacity: 1 !important;
        z-index: 9999 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        .x{
            color: $highlight-font-color;
        }
    }

}
.menu-items{
    li{
        padding: 7px 0 7px 0;
        // font-size: 100px;
    }
    .menu-link{
        color: white;
        font-weight: 600;
        font-size: 2.9vw;
        opacity: 1;
        display: inline;
    }
    z-index: 9999;
    display: none;
    position: absolute;
    left: 50%; /* positions img relative to container */
    top: 50%;  /* positions img relative to container */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
    text-align: center;
    a:hover{
        color: $highlight-font-color;
    }
    // font-size: 40px;
}
.show{
    display: inline;
}