html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav {
  z-index: 9999;
  color: #77FFBC;
  padding: 20px 0 20px 0;
}

nav h1 {
  font-weight: 600;
  display: inline-block;
}

nav button {
  float: right;
  margin-top: 4px;
}

nav button .hamburger {
  font-size: 33px;
  color: #77FFBC;
}

nav button .hamburger i {
  color: #77FFBC;
  font-size: 35px;
}

.hide {
  display: none;
}

canvas {
  z-index: -9999;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.container .side {
  width: 50%;
  height: 100%;
}

.container .left .my-img {
  background-image: url("../images/matthew.jpg");
  height: 40vmax;
  width: 40vmax;
  background-size: cover;
  border-radius: 35px;
  position: relative;
}

.container .left .my-img .typed-text {
  color: white;
  font-size: 5.0vw;
  font-weight: 600;
  position: absolute;
  bottom: -8%;
  left: 40px;
}

.container .right {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .right .text-container {
  margin-top: 8%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
}

.container .right .text-container .bio-text h1 {
  font-size: calc(3vw + 0.2vw);
}

.container .right .text-container a {
  margin-left: 3px;
}

.container .right .text-container .my-links {
  margin-top: 10px;
  z-index: 9999;
}

.container .right .text-container .my-links h2 {
  font-size: calc(1.7vw + 0.5vw);
}

.container .social-container {
  position: absolute;
  bottom: 20px;
  right: 4%;
}

.container .social-container a {
  padding: 0px 15px 0px 15px;
}

.navigation-menu {
  background-color: #1f1f1f;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 300px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 300px rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  display: none;
}

.navigation-menu button {
  float: right;
  margin: 20px 4% 0 0;
  opacity: 1 !important;
  z-index: 9999 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.navigation-menu button .x {
  color: #77FFBC;
}

.menu-items {
  z-index: 9999;
  display: none;
  position: absolute;
  left: 50%;
  /* positions img relative to container */
  top: 50%;
  /* positions img relative to container */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-items li {
  padding: 7px 0 7px 0;
}

.menu-items .menu-link {
  color: white;
  font-weight: 600;
  font-size: 2.9vw;
  opacity: 1;
  display: inline;
}

.menu-items a:hover {
  color: #77FFBC;
}

.show {
  display: inline;
}

.temp-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.temp-msg div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#temp-body {
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1025px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .side {
    width: 100%;
    height: 50%;
  }
  .container .left .my-img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0px auto;
  }
  .container .left .my-img .typed-text {
    color: white;
    font-size: 90px;
    bottom: -19.5%;
  }
  .container .right .text-container {
    text-align: center;
  }
  .container .right .text-container .bio-text {
    width: 90%;
    margin: 0% auto;
  }
  .container .right .text-container .bio-text h1 {
    margin-top: 0px;
    font-size: calc(3vw + 0.3vw);
  }
  .container .right .text-container .my-links h2 {
    font-size: calc(2.3vw);
  }
  .social-container i {
    font-size: 2em;
  }
  .menu-items .menu-link {
    font-size: 5.5vw;
  }
}

@media (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .side {
    width: 100%;
    height: 50%;
  }
  .container .left .my-img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .container .left .my-img .typed-text {
    color: white;
    font-size: 45px;
    bottom: -10%;
  }
  .container .right .text-container {
    text-align: center;
  }
  .container .right .text-container .bio-text {
    width: 90%;
    margin: 0 auto;
  }
  .container .right .text-container .bio-text h1 {
    font-size: calc(4vw + 0.3vw);
  }
  .container .right .text-container .my-links h2 {
    font-size: calc(3vw + 0.3vw);
  }
  .social-container i {
    font-size: 37px;
  }
  .menu-items .menu-link {
    font-size: 5.5vw;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  width: 92%;
  margin: 0 auto;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

a {
  color: #77FFBC;
  text-decoration: none;
}

i {
  color: white;
  font-size: 47px;
}

button {
  background: none;
  border: none;
  padding: 0;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

i:hover {
  color: #77FFBC;
}

a:hover {
  color: #77FFBC;
}

li {
  text-decoration: none;
  list-style: none;
}
/*# sourceMappingURL=main.css.map */